@font-face {
    font-family: "DinkieBitmap 7px";
    src: url("/fonts/DinkieBitmap-7px.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DinkieBitmap 9px";
    src: url("/fonts/DinkieBitmap-9px.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zpix";
    src: url("/fonts/zpix.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Add more @font-face rules as needed for other fonts */
