$jine-blue: #cee7ff;
$jine-reply: #4aee53;

.jine__chat_window {
    @media (width < 768px) {
        min-width: 100dvw;
        max-width: 100dvw;
        min-height: 100dvh;
        max-height: 100dvh;
    }
    @media (width >= 768px) {
        min-width: 400px;
        max-width: 400px;
        min-height: 500px;
        max-height: 500px;
    } 
    padding: 20px;
    box-sizing: border-box;
}


.jine__message_div--pien {
    display: flex;
}

.jine__message_div--ame {
    display: flex;
    justify-content: flex-end;
}

.jine__message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    word-wrap: break-word; // Ensures long words break correctly
}

.jine__message--pien {
    background-color: $jine-blue;
}

.jine__message--ame {
    background-color: $jine-reply;
}

.jine__option_message {
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    background-color: $jine-reply;
    cursor: pointer;
}

.jine__options {
    background-color: #00000030;
    margin: 0px -20px ;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
