@font-face {
  font-family: "DinkieBitmap 7px";
  src: url("/fonts/DinkieBitmap-7px.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DinkieBitmap 9px";
  src: url("/fonts/DinkieBitmap-9px.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Zpix";
  src: url("/fonts/zpix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Add more @font-face rules as needed for other fonts */
* {
  padding: 0;
  margin: 0;
  line-height: 1em;
  color: #4d23cf;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  font-family: "zpix", monospace;
}

.window__background {
  display: flex;
  flex-direction: column;
  background-color: #90f4e4;
  border: 2px solid #4d23cf;
  padding: 4px 4px 0px 4px;
  box-sizing: border-box;
}

.window__title_icon {
  background-color: #4d23cf;
  height: 16px;
  width: 16px;
  margin: 5px;
}

.window__title_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f0d1f1;
  border: 2px solid #4d23cf;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
  color: #4d23cf;
  line-height: 0.5em;
  font-size: 16px;
  font-family: "DinkieBitmap 9px", monospace;
}

.window__foreground {
  background-color: #fff8ff;
  border: 2px solid #4d23cf;
  margin: 4px 0;
  box-sizing: border-box;
}

.window__bottom {
  display: flex;
  flex-direction: row;
}

.window__long_pink_thingy {
  height: 9px;
  width: 36px;
  background-color: #e6a2e4;
  border: solid 2px #4d23cf;
  border-bottom: 0px;
  box-sizing: border-box;
}

.window__small_square_thingy {
  height: 7px;
  width: 7px;
  background-color: #90f4e4;
  border: solid 2px #4d23cf;
  box-sizing: border-box;
  margin-left: 2px;
}

.jine__chat_window {
  padding: 20px;
  box-sizing: border-box;
}
@media (width < 768px) {
  .jine__chat_window {
    min-width: 100dvw;
    max-width: 100dvw;
    min-height: 100dvh;
    max-height: 100dvh;
  }
}
@media (width >= 768px) {
  .jine__chat_window {
    min-width: 400px;
    max-width: 400px;
    min-height: 500px;
    max-height: 500px;
  }
}

.jine__message_div--pien {
  display: flex;
  align-items: center;
}

.jine__message_div--ame {
  display: flex;
  justify-content: flex-end;
}

.jine__message {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.jine__message--pien {
  background-color: #cee7ff;
}

.jine__message--ame {
  background-color: #4aee53;
}

.jine__option_message {
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  background-color: #4aee53;
  cursor: pointer;
}

.jine__options {
  background-color: rgba(0, 0, 0, 0.1882352941);
  margin: 0px -20px;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards;
}

.jine__message_icon {
  width: 40px;
  height: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width >= 768px) {
  .ending__image {
    max-height: 80dvh;
  }
}
@media (width < 768px) {
  .ending__image {
    width: 70dvw;
  }
}

.ending__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.ending__message p, .ending__message h1 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
